body{
    background-color:  #051425;
    padding-top: 30px;
}
html{
    scroll-behavior: smooth;
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1ddede;
}

section{
    scroll-margin-top: 150px;
}
.navs{
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: min(90%, 700px);
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(69, 69, 130);
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: auto;
}
.navs::-webkit-scrollbar{
    height: 6px;

}
.navs::-webkit-scrollbar-thumb{
    background-color: #0b2545;
    border-radius: 60px;
}
.navs a{
    margin: auto;
}
.navs a:hover{
    transform: scale(1.3);
}
.nav-icons{
    width: auto;
    height: 40px;
    margin: auto;
}
.greet-box{
    width: min(90%, auto);
    padding: 50px;
    margin-bottom: 280px;
}
.greet-you{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a4ccef;
    font-size: 80px;
}
.greet{
    margin: auto;
    text-align: center;
    margin-top: 90px;
}
#short-desc{
    font-family: Arial, Helvetica, sans-serif;
    color: #1ddede;
    font-size: 30px;
}
.html{
    animation: JSSpan 1s infinite;
}
@keyframes JSSpan{
    from{color: rgb(239, 216, 97);}
    to {color: rgb(12, 253, 233);}
}
#short-desc:hover{
    transform: scale(1.05);
}



.profile{
    margin-top: 60px;
    width: 100%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child{
    width: min(100%, 600px);
    min-height: 700px;
    background-color:  #040d1f;
    margin: 30px;
    text-align: center;
    border: 5px solid;
    border-radius: 30px;

}
#fpf{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(100, 254, 251);
    border-radius: 50%;
    object-fit: cover;
}
#name{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #64acfd;
}
#bio{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #64acfd;
    font-size: 20px;
}
.tech-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.grandson {
    display: flex;
    gap: 20px;
    width: fit-content;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.ts {
    border-radius: 50%;
    background-color: #f5f7fa;
    height: 150px;
    width: 150px;
    flex-shrink: 0;
}
#educ, #tech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #64acfd;
    text-shadow: 1px 1px seashell;
}
#educ{
    margin-bottom: 100px;
}
#education-line, #educ-year{
    margin: 40px;
    color: #64acfd;
    font-size: 40px;
    font-family:'Arial Narrow Bold', sans-serif;

}
#educ-year{
    font-size: 20px;
}

.project-div{
    margin: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: (1000px, 80%);
}
.project-box{
    margin: auto;
    border: 5px solid rgb(229, 215, 215);
    height: 500px;
    width: 400px;
    background-color: #09031b;
    border-radius: 10%;
    text-align: center;
}
.project-box:hover{
    background-color: #091130;

}
.project-logo{
    background:blue ;
    height: 60%;
    width: 90%;
    margin: 20px;
    border-radius: 10%;
}
.project-text{
    color:#1ddede;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project-link{
    margin: auto;
    display: block;
    background-color: #1e6a6a;
    width: 40%;
    height: 40px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: 2px solid #f5f7fa;
    border-radius: 20px;
    color: #1191f9;
}
.project-link:hover{
    background-color: #0b2545;
}
.certs{
    text-align: center;
}
.certs-box{
    margin: auto;
    width: min(100%, auto);
}

.certs-box{
    display: flex;
    overflow: auto;

}
.cert-img{
    width: auto;
    background-color: wheat;
    height: 400px;
    width: min(90%, 600px);
    margin: 20px;
}

.certs-box::-webkit-scrollbar{
    height: 6px;

}
.certs-box::-webkit-scrollbar-thumb{
    background-color: #0b2545;
    border-radius: 60px;
}

.sec-name{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    color: #1ddede;
}

.contacts{
    margin: auto;
}
.contacts a{
    margin: auto;
    color: #f5f7fa;
    text-decoration: none;
    text-align: center;
    background-color: #040622;
    height: 100px;
    width: min(20%,300px);
    font-size: 0;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contacts a:hover{
    background-color: #1ddede;
    border-radius: 30px;
    font-size: 20px;
    
}
.contact-btn{
    padding: 40px;
    margin: auto;
    width: (1000px, 50%);
    display: flex;
    flex-wrap: wrap;
}

.contact-hover{
    font-size: 20px;
    opacity: 0;
}
.contact-hover:hover{
    opacity: 100;
}
.contact-icons{
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}