body{
    background-color:  #ebedef;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
hr{
    color: black;
    border: 1px solid;
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #071616;
}
@keyframes bgcolor{
    from{background-color: #0b1a2c;}
    to {background-color: #091130;}
}
section{
    scroll-margin-top: 150px;
}
.navs{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1 2;
    max-height: 120px;
    width: 100%;
    margin: 0 auto;
    top:0;
    background-color: white;
}
.my-logo img{
    margin-left: 30px;
    height: 120px;
    width: auto;
}
.menu a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: #010103;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}


.greet-box{
    width: min(90%, auto);
    padding: 0 1rem;
    margin-bottom: 280px;
}
.greet-you{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #031728;
    font-size: 80px;
    animation: greetyou 2s ease-in;
}
@keyframes greetyou{
    from{color: rgb(239, 238, 233);}
    to {color: rgb(35, 80, 76);}
}
.greet{
    margin: auto;
    text-align: center;
    margin-top: 90px;
}
#short-desc{
    font-family: Arial, Helvetica, sans-serif;
    color: #6b7272;
    font-size: 30px;
}
.html{
    animation: JSSpan 1s ease;
}
@keyframes JSSpan{
    from{color: rgb(246, 245, 240);}
    to {color: rgb(189, 208, 207);}
}
.profile{
    margin-top: 60px;
    width: 100%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
}
.child{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: min(90%, 500px);
    height: 600px;
    background-color:  #091837;
    text-align: center;
    border: 5px solid;
    border-radius: 30px;
}
#fpf{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(100, 254, 251);
    border-radius: 50%;
}
#name{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #64acfd;
}
#bio{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #64acfd;
    font-size: 15px;
}
.tech-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.grandson {
    display: flex;
    gap: 20px;
    width: fit-content;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.ts {
    height: 80px;
    width: auto;
    margin: 0;
    flex-shrink: 0;
}
#quote{
    font-size: 1rem;
    color: white;
    margin: 40px;
}
#educ, #tech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #64acfd;
    text-shadow: 1px 1px seashell;
}
#educ{
    margin-bottom: 40px;
}
.educ-box{
    border-left: 3px solid #1191f9;
    margin-left: 30%;
}
#education-line, #educ-year{
    margin: 20px;
    color: #64acfd;
    font-size: 20px;
    font-family:'Arial Narrow Bold', sans-serif;
    text-align: left;

}
#educ-year{
    font-size: 15px;
}

.project-div{
    margin:auto;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: min(100%, 1200px);
}
.project-box{
    margin: auto;
    border: 5px solid rgb(229, 215, 215);
    height: 300px;
    width: min(50%, 300px);
    background-color: #c4bfd5;
    border-radius: 5%;
    text-align: center;
}
.project-box:hover{
    background-color: #f5f5fb;
    opacity: 30%;

}
.project-logo{
    background:blue ;
    height: 50%;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5%;
}
.project-text{
    color:#070d0d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.project-link{
    margin: auto;
    display: block;
    background-color: #061919;
    width: min(60%, 100px);
    height: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 2px solid #f5f7fa;
    border-radius: 10px;
    color: #a7b0b7;
}
.project-link:hover{
    background-color: #0c192c;
    opacity: 100%;
}
.certs{
    text-align: center;
}
.certs-box{
    margin: auto;
    width: min(100%, auto);
    display: flex;
    overflow: auto;
}
.cert-img{
    height: 300px;
    width: min(90%, 600px);
    margin: 20px;
}

.certs-box::-webkit-scrollbar{
    height: 6px;

}
.certs-box::-webkit-scrollbar-thumb{
    background-color: #0b2545;
    border-radius: 60px;
}

.sec-name{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    color: #141919;
}

.contacts{
    margin: 0;
    padding: 0;

}
.contacts a{
    margin-top: 10px;
    margin: auto;
    color: #f5f7fa;
    text-decoration: none;
    text-align: center;
    background-color: #5f6498;
    height: 80px;
    width: min(20%,400px);
    font-size: 0;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contacts a:hover{
    padding: 0 1rem;
    background-color: #1ddede;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contact-btn{
    padding: 0;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contact-icons{
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


@media(max-width: 600px){
    body{
        margin: 0;
        padding: 0;
    }
    .navs{
        max-height: 100px;
    }
    .menu a{
        margin-left: 0px;
        text-decoration: none;
        color: black;
        font-size: 0.5em;
    }
    .greet-box{
        padding: 0 1rem;
    }
    .my-logo img{
        display: block;
        height: 50px;
    }
    .greet-you{
        font-size: 3rem;
    }
    #short-desc{
        font-size: 1.5rem;
    }


    .profile{
        margin-top: 60px;
        width: 100%;
    }
    .child{
        margin-top: 20px;
        width: 80%;
        height: 400px;
    }
    #fpf{
        margin-top: 20px;
        width: 100px;
        height: 100px;
        border: 5px solid rgb(100, 254, 251);
        border-radius: 50%;
    }
    #name{
        font-size: 1em;
        color: #d8e6f5;
    }
    #bio{
        color: #64acfd;
        font-size: 15px;
    }
    .tech-wrapper {
        width: 100%;
        overflow: hidden;
        padding: 0 0;
    }
    #quote{
        font-size: 1rem;
    }
    #educ, #tech{
        font-size: 1/2rem;
        margin-bottom: 20px;
        color: #64acfd;
        text-shadow: 1px 1px seashell;
    }
    #educ{
        margin-bottom: 10px;
    }
    .educ-box{
        border-left: 3px solid #1191f9;
        margin-left: 30%;
    }
    #education-line, #educ-year{
        margin: 10px;

    }
    #educ-year{
        font-size: 15px;
    }
    .project-box{
        height: 300px;
        width: 80%;
        border-radius: 5%;
    }
    .project-logo{
        background:blue ;
        height: 60%;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        border-radius: 5%;
    }
    .project-text{
        font-size: 1rem;
    }
    .project-link{
        font-size: 1rem;
        border-radius: 10px;
    }

    .cert-img{
        height: 200px;
        width: 90%;
        margin: 20px;
    }

    .contacts{
        margin: auto;
    }
    .contacts a{
        margin: auto;
        height: 50px;
        font-size: 0px;
        width: auto;

    }
    .contacts a:hover{
        background-color: #1ddede;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
        
    }
    .contact-btn{
        height: 10px;
        width: 100%;

    }
    .contact-icons{
        height: 50px;
        width: 50px;
    }
    footer{
        padding-top: 60px;
        font-size: 15px;
    }
}